<strong>Ol치, {{ provider }}, </strong>
<p>Houve um cancelamento de hor치rio confira os dados a baixo:</p>
<p>
  <strong>Cliente: </strong> {{ User }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O hor치rio est치 disponivel para novos agendamentos
  </small>
</p>
